* {
  font-family: 'IBM Plex Serif', serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --prime-color: #330031;
  --second-color: #ffffff;
  --border-bottom-right-radius: 20px 20px 200px 20px;
}